.filtersForm > p {
    color: black;
    margin-top: 30px;
    font-size: var(--Normal-subHeaders-size);
}

.filterElements, .filterElements > .list > select {
    color: var(--text-color-gray);
    font-size: var(--Normal-big-text-size);
}

.filterElements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 15px;
    gap: 16px;
    font-size: var(--Normal-big-text-size);
}

.list:hover, .list > select:hover {
    color: var(--primary-color);
}

.list, .list > select {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
