.marathon-tag{
    display: flex;
    margin-bottom: 40px;
    background-color: #f4f4f4;
    width: 800px;
    border-radius: 15px;
    position: relative;
    height: 170px;
}

.marathon-tag:hover{
    cursor: pointer;
}


.marathons-img{
    width: 220px;
    height: 170px;
    border-radius: 15px 0 0 15px;
}

.marathon-title{
    font-size: var(--Normal-subHeaders-size);
}


.tag-elements{
    display: flex;
    flex-direction: column;
    margin-left: 7px;
    gap: 12px;
    padding: 20px 10px;
    font-size: var(--Normal-smallerHeaders-size)
}

.marathon-dist{
    background-color: rgb(5, 215, 5);
    width: fit-content;
    padding: 3px;
    color: white;
    border-radius: 9px;
}

.marathons-location, .marathon-date{
    display: flex;
    align-items: center;
    gap: 7px;
}

p{
    color: var(--text-color-gray);
}

h2{
    font-size: var(--Normal-smallerHeaders-size);
}

.icons{
    color: var(--text-color-black);
    font-size: var(--Normal-smallerHeaders-size);
}

.price{
    font-size: 25px;
    color: var(--primary-color);
    font-weight: 600;
}

.marathon-pirce{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
    margin-right: 10px;
}