.footer{
    display: flex;
    justify-content: space-between;
    padding: 35px 45px;
    margin-top: auto;
}

/* left side------------------------------------------------- */

.footer-head{
    font-size: var(--Normal-big-headers-size);
}

.left-side-ul{
    margin-top: 20px;
    margin-bottom: 20px;
}

.left-side-ul > li, .footer-link{
    color: var(--text-color-gray);
    margin-bottom: 10px;
    width: fit-content;
    transition: 400ms ease-in-out;
    font-size: var(--Normal-smallerHeaders-size);
}

.footer-link:hover{
    color: var(--primary-color);
}

.left-side-ul > li:hover{
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary-color);
}

.left-side > .copyright{
    color: var(--text-color-black);
}

/* left side------------------------------------------------- */


/* right side------------------------------------------------- */

.right-side{
    margin-top: 50px;
    margin-right: 50px;
}

.find-us{
    display: block;
    margin-bottom: 20px;
    font-size: var(--Normal-smallerHeaders-size);
}

.right-side-ul{
    /* margin-left: -20px; */
    display: flex;
    gap: 20px;
}

/* sociial media-------------------------------------------- */

.fa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    width: 45px;
    height: 45px;
    text-decoration: none;
    border-radius: 50px;
    transition: 400ms;
  }

.fa:hover {
    opacity: 0.7;
    cursor: pointer;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* sociial media-------------------------------------------- */


/* right side------------------------------------------------- */