.marathonsTypeForm > p{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: var(--Normal-subHeaders-size);
}

.marTypeElements > ul{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--text-color-gray);
}

.marTypeElements > ul > li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--Normal-big-text-size);
}