.Extra{
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 20%;
}

.Home{
    border: none;
    outline: none;
    color: var(--text-color-gray);
    background-color: white;
    font-size: var(--Normal-smallerHeaders-size);
  }
  
.LogIn{
    border-radius: 15px;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    padding: 8px;
    width: 160px;
    color: white;
    font-size: var(--Normal-smallerHeaders-size);
}

  .Extra > span + span{
    padding: 10px
}

.search{
    text-align: center;
    position: relative;
}

.home-link{
    color: var(--text-color-gray);
    transition: 400ms ease-in-out;
}

.home-link:hover{
    color: var(--primary-color);
    text-decoration: underline;
}

.texting{
    border-radius: 20px;
    font-size: var(--Normal-smallerHeaders-size);
    height: fit-content;
    width: 533px;
    padding: 5px 7px;
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 3px rgb(154, 154, 154);
}

.search-button{
    height: fit-content;
    border-radius: 0 20px 20px 0;
    font-size: var(--Normal-smallerHeaders-size);
    height: fit-content;
    padding: 5px 7px;
    border: 2px solid var(--primary-color);
    position: absolute;
    right: 0;
    color: white;
    background-color: var(--primary-color);
}

.image{
    width: 100%;
}

header{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 10px 100px;
    position: fixed;
    box-shadow: 1px 0 10px rgb(178, 178, 178);
    background-color: white;
}

.linkimage{
    width: 300px;
    margin-left: -80px;
}