.footer{
    display: flex;
    justify-content: space-between;
    padding: 35px 45px;
    margin-top: auto;
    
}

/* left side------------------------------------------------- */

.footer-head{
    font-size: var(--Normal-big-headers-size);
}

.left-side-ul{
    margin-top: 20px;
    margin-bottom: 20px;
}

.left-side-ul > li, .footer-link{
    color: var(--text-color-gray);
    margin-bottom: 10px;
    width: fit-content;
    transition: 400ms ease-in-out;
    font-size: var(--Normal-smallerHeaders-size);
}

.footer-link:hover{
    color: var(--primary-color);
}

.left-side-ul > li:hover{
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary-color);
}

.left-side > .copyright{
    color: var(--text-color-black);
}

/* left side------------------------------------------------- */


/* right side------------------------------------------------- */

.right-side{
    margin-top: 50px;
    margin-right: 50px;
}

.find-us{
    display: block;
    margin-bottom: 20px;
    font-size: var(--Normal-smallerHeaders-size);
}

.right-side-ul{
    /* margin-left: -20px; */
    display: flex;
    gap: 20px;
}

/* social media-------------------------------------------- */

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #4d4d4d;
    width: 45px;
    height: 45px;
    transition: 200ms;
  }

.social-icon:hover {
    cursor: pointer;
}

#icon-fb:hover {
    color: #4267b2;
}

#icon-ig:hover {
    color: #e95950;
}

#icon-twitter:hover {
    color: #00acee;
}

#icon-yt:hover {
    color: #ff0000;
}

/* social media-------------------------------------------- */


/* right side------------------------------------------------- */