
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}


:root{
    --Normal-big-headers-size: 40px;
    --Normal-headers-size: 25px;
    --Normal-subHeaders-size: 20px;
    --Normal-smallerHeaders-size: 15px;

    --primary-color: #2563EB;

    --text-color-gray: #6B7280;
    --text-color-black: black;
    --Normal-big-text-size: 16px;
    --Normal-text-size: 13px;
    --Normal-mid-text-size: 14px
}


body{
    font-family: sans-serif, serif;
}

/* .container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

ul{
    list-style: none;
}

.all-marathons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.Extra > span + span{
    padding: 10px
}


.marathons-page-cont{
    margin-top: 60px;
}

hr{
    border: 1px solid rgba(107, 114, 128, 0.5);
}

a, Link{
    text-decoration: none;
}

select{
    border: none;
    outline: none;
}

.filts{
    margin-top: 30px;
    padding-left: 40px;
    width: 300px;
}

.marathons-cont{
    display: flex;
    gap: 100px;
}


.hero {
    background-image: url(./banner-img.png);
    background-repeat: no-repeat;
   
    background-position: center, center;
    background-size: cover;
    width: 1470px;
    height: 100vh;
    top: 76px;
    
}


.frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;

    position: absolute;
    width: 1327px;
    height: 482px;
    left: 98px;
    top: 105px;
}


.title{
   
    width: 673px;
    height: 192px;        
    color: #1a54d1;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: normal;        
    font-weight: 800;
    font-size: 80px;        
    line-height: 120%;
    order: 0;
    flex-grow: 0;
}

.subtitle{
    margin-top: 25px;
    left: 10px;
    width: 600px; 
  
    font-weight: 400;
    font-size: 21px;  
    display: flex;
    align-items: center;
    letter-spacing: 0.015em;
    font-feature-settings: 'tnum' on, 'lnum' on;
    
    color: #6B7280;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ActionBtns{
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;

    width: 598px;
    height: 53px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.CTAbtn {    

    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    gap: 10px;
    width: 272px;
    height: 53px;
    border-radius: 30px;
    background: #2563EB;
    border: 3px solid #2563EB;

    /*Text*/
    color: #FFFFFF;
    font-size: 24px;
       
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
}

.LearnMorebtn{
   
    box-sizing: border-box; 
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    gap: 10px;
    width: 272px;
    height: 53px;
    border-radius: 30px;

    /*Text*/
    font-size: 20px;
    color: #6B7280;

    /* Inside auto layout */
        
    flex: none;
    order: 1;
    flex-grow: 0;
    border: 3px solid #6B7280;
    
}

/* .main{
    display: flex;
    flex-direction: column;
    height: 100%;
} */