
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}


:root{
    --Normal-big-headers-size: 40px;
    --Normal-headers-size: 25px;
    --Normal-subHeaders-size: 20px;
    --Normal-smallerHeaders-size: 15px;

    --primary-color: #2563EB;

    --text-color-gray: #6B7280;
    --text-color-black: black;
    --Normal-big-text-size: 16px;
    --Normal-text-size: 13px;
    --Normal-mid-text-size: 14px;
    --Normal-bigger-headers-size: 80px;
    --primary-font-family: 'Manrope', sans-serif;
    
}


body{

    font-family: var(--primary-font-family)

}

/* .container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

ul{
    list-style: none;
}

.all-marathons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.Extra > span + span{
    padding: 10px
}


.marathons-page-cont{
    margin-top: 60px;
}

hr{
    border: 1px solid rgba(107, 114, 128, 0.5);
}

a, Link{
    text-decoration: none;
}

select{
    border: none;
    outline: none;
}

.filts{
    margin-top: 30px;
    padding-left: 40px;
    width: 300px;
}

.marathons-cont{
    display: flex;
    gap: 100px;
}


/*HOMEPAGE*/

.main {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    width: 100%;
    height: auto;
}

.hero{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 64px;
        height: 100%;
}

.hero-img {
    object-fit: cover;
    width: 100%;
    height: 120vh;
}

.frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    gap: 50px;
    position:absolute;
    width: 100%;
    height: 40vh;
    top: 200px;  
}



.title{
   
    width: 673px;
    height: 192px;             
    font-weight: 800;
    font-size: var(--Normal-bigger-headers-size);        
    line-height: 120%;
    color: #1a54d1;
    order: 0;
    flex-grow: 0;
}

.subtitle{
    margin-top: 25px;
    left: 10px;
    width: 600px; 
  
    font-weight: 400;
    font-size: 21px;  
    display: flex;
    align-items: center;
    letter-spacing: 0.015em;
    font-feature-settings: 'tnum' on, 'lnum' on;
    
    color: #6B7280;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ActionBtns{
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;

    width: 598px;
    height: 53px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.CTAbtn {    

    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    gap: 10px;
    width: 272px;
    height: 53px;
    border-radius: 30px;
    background: #2563EB;
    border: 3px solid #2563EB;
    transition: 400ms;

    /*Text*/
    color: #FFFFFF;
    font-size: 24px;
       
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
}

.LearnMorebtn{
   
    box-sizing: border-box; 
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    gap: 10px;
    width: 272px;
    height: 53px;
    border-radius: 30px;
    background: none;

    /*Text*/
    font-size:var(--Normal-subHeaders-size);
    color: #6B7280;

    /* Inside auto layout */
        
    flex: none;
    order: 1;
    flex-grow: 0;
    border: 3px solid #6B7280;
    
}

.CTAbtn:hover {
    background: #0c3693;
    border: #0c3693;
    cursor: pointer;
}

.LearnMorebtn:hover{
    border-color: rgb(30, 23, 23);
    color: rgb(30, 23, 23);
    cursor: pointer;
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: space-between 30px;
    align-items: center;
    gap: 30px;
    top: 950px;
}

.feature2{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    padding: 0vh 15vh 0vh 15vh;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.feature1, .feature3{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: start;
    gap: 20px;
    padding: 0vh 15vh 0vh 15vh;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}



#feat1-img #feat3-img{ 
 
    flex: none;
    order: 1;
    flex-grow: 0;
}

#feat2-img{
    flex: none;
    order: 0;
    flex-grow: 0;
}

#description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    padding: 12vh 0vh 12vh 10vh;
    gap: 20px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 1;
}

#header{
    color: var(--primary-color);
    font-size: var(--Normal-big-headers-size);
    font-weight: 700;
    /* display: flex;
    align-items: flex-start; */
    /* padding: 0vh 10vh 10vh;
    margin-top: 10vh; */
}

#info{
    width: 614px;
height: 54px;
font-style: normal;
font-weight: 400;
font-size: var(--Normal-subHeaders-size);
line-height: 130%;

}
